flows.json
[
    {
        "id": "73ce62a59fdd7773",
        "type": "tab",
        "label": "Heure",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "06391d2058e584f1",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae6ce4941c81c5c7",
        "type": "ui_tab",
        "name": "Détection d'inconfort",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c0f2414017e56cae",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#402c54",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#402c54",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#402c54",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#664686",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#402c54",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4ee8689e3bfc1e88",
        "type": "ui_group",
        "name": "En cas d'inconfort ressenti, cliquez!",
        "tab": "ae6ce4941c81c5c7",
        "order": 5,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0227db5017f61ee5",
        "type": "ui_tab",
        "name": "monitoring inconfort",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "754cfe1ed0969013",
        "type": "ui_group",
        "name": "Default",
        "tab": "0227db5017f61ee5",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed2ecda10cc85ce1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.4.2",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "23bc571ddb457f7d",
        "type": "exec",
        "z": "73ce62a59fdd7773",
        "command": "time /t",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "d22bc7b5ab22619c"
            ],
            [],
            []
        ]
    },
    {
        "id": "60604feae78c800b",
        "type": "inject",
        "z": "73ce62a59fdd7773",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "23bc571ddb457f7d"
            ]
        ]
    },
    {
        "id": "d22bc7b5ab22619c",
        "type": "ui_text",
        "z": "73ce62a59fdd7773",
        "group": "4ee8689e3bfc1e88",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Heure :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "a25d680a93eae6de",
        "type": "comment",
        "z": "73ce62a59fdd7773",
        "name": "récupération de l'heure via une commande",
        "info": "",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "0607b659c21b10ac",
        "type": "ui_button",
        "z": "73ce62a59fdd7773",
        "name": "",
        "group": "4ee8689e3bfc1e88",
        "order": 2,
        "width": 7,
        "height": 3,
        "passthru": false,
        "label": "très inconfortable",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "très inconfortable",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "74b37b65efd615bb",
                "c070d88ae9efdfe5"
            ]
        ]
    },
    {
        "id": "304f5963ed2b69b4",
        "type": "ui_button",
        "z": "73ce62a59fdd7773",
        "name": "",
        "group": "4ee8689e3bfc1e88",
        "order": 3,
        "width": 7,
        "height": 3,
        "passthru": false,
        "label": "inconfortable",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "inconfortable",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "74b37b65efd615bb",
                "c070d88ae9efdfe5"
            ]
        ]
    },
    {
        "id": "74b37b65efd615bb",
        "type": "function",
        "z": "73ce62a59fdd7773",
        "name": "formatage .csv",
        "func": "var timestamp = new Date().toISOString(); \n\nmsg.payload = `${timestamp}, ${msg.payload}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "948762acc43f9183"
            ]
        ]
    },
    {
        "id": "948762acc43f9183",
        "type": "file",
        "z": "73ce62a59fdd7773",
        "name": "",
        "filename": "C:\\Users\\paul2\\Desktop\\cours\\M2\\projet YES\\releves_inconfort_tests\\releves_projet_yes_m2.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 830,
        "y": 540,
        "wires": [
            [
                "99abe6463f7e804c"
            ]
        ]
    },
    {
        "id": "1b166c2f8e7adf0c",
        "type": "ui_button",
        "z": "73ce62a59fdd7773",
        "name": "",
        "group": "4ee8689e3bfc1e88",
        "order": 4,
        "width": 7,
        "height": 3,
        "passthru": false,
        "label": "confortable",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "confortable",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "74b37b65efd615bb",
                "c070d88ae9efdfe5"
            ]
        ]
    },
    {
        "id": "6963f5160e237eaa",
        "type": "ui_toast",
        "z": "73ce62a59fdd7773",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1390,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "99abe6463f7e804c",
        "type": "function",
        "z": "73ce62a59fdd7773",
        "name": "function 1",
        "func": "msg.payload = \"information envoyé !\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 540,
        "wires": [
            [
                "6963f5160e237eaa"
            ]
        ]
    },
    {
        "id": "42007bc73767e4b6",
        "type": "ui_toast",
        "z": "73ce62a59fdd7773",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "cf145d358b6b6bd4"
            ]
        ]
    },
    {
        "id": "ad0d536b67c89e7d",
        "type": "function",
        "z": "73ce62a59fdd7773",
        "name": "function 2",
        "func": "msg.payload = \"Bonjour, bienvenue sur l'application qui vous permettra d'indiquer en temps réel l'inconfort que vous ressentez. Pour cela, il suffit de cliquer sur les boutons correspondants dès que vous ressentez quelconque inconfort. \\n Merci d'indiquer le numéro donné par le superviseur :\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "42007bc73767e4b6"
            ]
        ]
    },
    {
        "id": "cf145d358b6b6bd4",
        "type": "function",
        "z": "73ce62a59fdd7773",
        "name": "formatage .csv",
        "func": "var timestamp = new Date().toISOString(); \nif (msg.payload === \"Cancel\" || msg.payload === \"\") {\n    return null\n}\nelse{\n    msg.payload = `\\n${timestamp};${msg.payload}\\n`;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "c5b4a01af15c293d"
            ]
        ]
    },
    {
        "id": "c5b4a01af15c293d",
        "type": "file",
        "z": "73ce62a59fdd7773",
        "name": "",
        "filename": "C:\\Users\\paul2\\Desktop\\cours\\M2\\projet YES\\releves_inconfort_tests\\releves_projet_yes_m2.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1070,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "34ce3dc5ab110674",
        "type": "ui_ui_control",
        "z": "73ce62a59fdd7773",
        "name": "",
        "events": "connect",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "ad0d536b67c89e7d"
            ]
        ]
    },
    {
        "id": "6f3c1b10366eb665",
        "type": "comment",
        "z": "73ce62a59fdd7773",
        "name": "notification au lancement de l'application",
        "info": "",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "6f3349d59fb1fcad",
        "type": "comment",
        "z": "73ce62a59fdd7773",
        "name": "gestion des boutons et de l'enregistrement",
        "info": "",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "c070d88ae9efdfe5",
        "type": "link out",
        "z": "73ce62a59fdd7773",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d93b78f117033462"
        ],
        "x": 325,
        "y": 600,
        "wires": []
    },
    {
        "id": "e727b3c329d0049d",
        "type": "ui_chart",
        "z": "06391d2058e584f1",
        "name": "",
        "group": "754cfe1ed0969013",
        "order": 1,
        "width": 30,
        "height": 5,
        "label": "ressenti d'inconfort",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "25",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#db0000",
            "#26ad00",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d93b78f117033462",
        "type": "link in",
        "z": "06391d2058e584f1",
        "name": "link in 1",
        "links": [
            "c070d88ae9efdfe5"
        ],
        "x": 425,
        "y": 220,
        "wires": [
            [
                "05351ecf5f311d60"
            ]
        ]
    },
    {
        "id": "05351ecf5f311d60",
        "type": "function",
        "z": "06391d2058e584f1",
        "name": "function 3",
        "func": "let valeurBouton = msg.payload;\nlet valeurNumerique;\nmsg.topic = \"ressenti\";\nif (valeurBouton === \"confortable\") {\n    valeurNumerique = 0;\n} else if (valeurBouton === \"inconfortable\") {\n    valeurNumerique = 10;\n} else if (valeurBouton === \"très inconfortable\") {\n    valeurNumerique = 20;\n} else {\n    // Tu peux ajouter ici une gestion pour les cas où la valeur ne correspond à aucune des options\n    valeurNumerique = 0; // Par exemple, retourner 0 par défaut\n}\n\nmsg.payload = valeurNumerique;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "e727b3c329d0049d"
            ]
        ]
    },
    {
        "id": "0eefabbc6e7fd62a",
        "type": "inject",
        "z": "06391d2058e584f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "confortable",
        "payloadType": "str",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "05351ecf5f311d60"
            ]
        ]
    },
    {
        "id": "25d42ea11cc25a19",
        "type": "mqtt in",
        "z": "06391d2058e584f1",
        "name": "",
        "topic": "esp32/pitch",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ed2ecda10cc85ce1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "9ca4fec540a6af0a",
                "64b50b63b632c23c",
                "a046c53b12d11abd",
                "8a569f1c8c2e6d11"
            ]
        ]
    },
    {
        "id": "9ca4fec540a6af0a",
        "type": "function",
        "z": "06391d2058e584f1",
        "name": "formatage .csv",
        "func": "var timestamp = new Date().toISOString(); \n\nmsg.payload = [msg.payload[0], msg.payload[1], msg.payload[2]];  // 3ème valeur\n\nmsg.payload = `${timestamp};${msg.payload}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 340,
        "wires": [
            [
                "87e3df4dfc4c76db"
            ]
        ]
    },
    {
        "id": "87e3df4dfc4c76db",
        "type": "file",
        "z": "06391d2058e584f1",
        "name": "",
        "filename": "C:\\Users\\paul2\\Desktop\\cours\\M2\\projet YES\\releves_inconfort_tests\\releves_angles_projet_yes_m2.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1060,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f561128cbf4cd32e",
        "type": "mqtt out",
        "z": "06391d2058e584f1",
        "name": "",
        "topic": "esp32/pitch",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ed2ecda10cc85ce1",
        "x": 470,
        "y": 420,
        "wires": []
    },
    {
        "id": "8f93dacdb92b902d",
        "type": "inject",
        "z": "06391d2058e584f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "f561128cbf4cd32e"
            ]
        ]
    },
    {
        "id": "64b50b63b632c23c",
        "type": "function",
        "z": "06391d2058e584f1",
        "name": "formatage .csv",
        "func": "\nmsg.payload = [msg.payload[0]];  // 3ème valeur\nmsg.topic = \"acceleration\"\nmsg.payload = `${msg.payload}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "9f48dc84577446f6"
            ]
        ]
    },
    {
        "id": "a046c53b12d11abd",
        "type": "function",
        "z": "06391d2058e584f1",
        "name": "formatage .csv",
        "func": "msg.payload = [msg.payload[1]];  // 3ème valeur\nmsg.topic = \"angle\";\nmsg.payload = `${msg.payload}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "e937c98facd8fc74"
            ]
        ]
    },
    {
        "id": "e937c98facd8fc74",
        "type": "ui_chart",
        "z": "06391d2058e584f1",
        "name": "",
        "group": "754cfe1ed0969013",
        "order": 2,
        "width": 30,
        "height": 5,
        "label": "mesure d'angle de tangage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#26ad00",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9f48dc84577446f6",
        "type": "ui_chart",
        "z": "06391d2058e584f1",
        "name": "",
        "group": "754cfe1ed0969013",
        "order": 3,
        "width": 30,
        "height": 5,
        "label": "mesure d'accélération ressenti",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1eb330",
            "#26ad00",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8a569f1c8c2e6d11",
        "type": "debug",
        "z": "06391d2058e584f1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    }
]